<footer style="background-color:#4c3d3d" id="contact_us">

            <div style="text-align:center;">
            <img style="width:6rem;margin-top:2%" src="static/images/_____16_-removebg-preview.png">
            <p style="margin-top:0;color:white">ركن الزاوية للمقاولات العامة</p>
        </div>
         <div style="text-align:center;">

            <div style="display:inline-block;padding-right:10%">
                <p style="color:white"><i class="fa-solid fa-phone" style="color:#ffd95a"></i>   +966534115666<br><i class="fa-solid fa-phone" style="color:#ffd95a"></i>   +966534115999<br><i class="fa-solid fa-phone" style="color:#ffd95a"></i>   +966590477581</p>
            </div>
            <div style="display:inline-block;">
                <p style="color:white"><i class="fa-solid fa-envelope" style="color:#ffd95a"></i>   Corner7070@gmail.com<br><i class="fa-solid fa-location-dot" style="color:#ffd95a"></i>   المملكة العربية السعودية - المنطقة الغربية</p>
            </div>
            </div>


    </footer>


</body></html>